@page "/email/Projects/Details/{EmployerEmail}/{ProjectName}"

@using Domain.Projects.DTOs
@using Application.Projects
@using Domain.Projects.Entities
@using Presentation.Core.Components
@inject NavigationManager nav
@inject IProjectService ProjectService

@if (_loading)
{
    <h4 class="text-danger">Cargando Proyectos</h4>
}
else
{
    <MudBreadcrumbs Items="_items" Separator=">"></MudBreadcrumbs>

    <MudToolBar DisableGutters="true" Class="gap-4">
        <MudItem xs="2"></MudItem>
        <MudSpacer></MudSpacer>
        <MudButton Variant="Variant.Filled" OnClick="GoToCreate" Color="Color.Secondary">Crear Proyecto</MudButton>
        <MudItem xs="2"></MudItem>
    </MudToolBar>

    <MudGrid>   
        <MudItem xs="4"></MudItem>
        <MudItem xs="3">
            <MudPaper Elevation="0">
                <MudText Align="Align.Center" Typo="Typo.h6" Color="Color.Secondary">@Project.ProjectName</MudText>
            </MudPaper>
            <MudSpacer></MudSpacer>
        </MudItem>

        <MudItem xs="2"></MudItem>
        
        <MudItem xs="1">
            <MudPaper Elevation="0">
                <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Secondary" Align="Align.Right" OnClick="GoToConfigs"/>
            </MudPaper>
        </MudItem>
    </MudGrid>

    <MudGrid>
        <MudItem xs="2"></MudItem>
        <MudItem xs="8">
            <MudText Typo="Typo.body1">Descripción</MudText>
            <MudPaper Class="d-flex align-center justify-center mud-width-full py-8" Outlined="true" Color="Color.Secondary">@Project.ProjectDescription</MudPaper>
        </MudItem>
        <MudItem xs="2"></MudItem>

        <MudItem xs="2"></MudItem>
        <MudItem xs="4">
            <MudText>Intervalo de pago: </MudText>
            <MudPaper Class="d-flex align-center justify-center mud-width-full py-8" Outlined="true" Color="Color.Secondary">@Project.PaymentInterval</MudPaper>
        </MudItem>

        <MudItem xs="4">
            <MudText>Asignado a:</MudText>
            <MudPaper Class="d-flex align-center justify-center mud-width-full py-8" Outlined="true" Color="Color.Secondary">@Project.EmployerEmail</MudPaper>
        </MudItem>
        <MudItem xs="2"></MudItem>

        <MudItem xs="2"></MudItem>
        <MudItem xs="4">
            <MudText>Cantidad máxima de beneficios: </MudText>
            <MudPaper Class="d-flex align-center justify-center mud-width-full py-8" Outlined="true" Color="Color.Secondary">@Project.MaximumBenefitAmount</MudPaper>
            <br/>
        </MudItem>
        <MudItem xs="4">
            <MudText>Monto máximo de beneficios: </MudText>
            <MudPaper Class="d-flex align-center justify-center mud-width-full py-8" Outlined="true" Color="Color.Secondary">@Project.MaximumAmountForBenefits</MudPaper>
            <br/>
        </MudItem>
    </MudGrid>
        <MudToolBar DisableGutters="true" Class="gap-4">
            <MudSpacer></MudSpacer>
            <MudButton Variant="Variant.Filled" OnClick="GoToMain" Color="Color.Secondary">Volver</MudButton>
            <MudSpacer></MudSpacer>
        </MudToolBar>
}


@code {
    private bool _hidePosition;
    private bool _loading = true;
    private IEnumerable<Project> Elements;
    public Project Project = new Project("","","",0,0,"");

    [Parameter] public string EmployerEmail { get; set; }
    [Parameter] public string ProjectName { get; set; }

    private List<BreadcrumbItem> _items = new List<BreadcrumbItem>
    {
        new BreadcrumbItem("Inicio", href: ""),
        new BreadcrumbItem("Proyectos", href: "/email/Projects"),
        new BreadcrumbItem("Nombre", href: null, disabled: true),
    };

    protected override async Task OnInitializedAsync()
    {
        Project = await ProjectService.GetProject(EmployerEmail, ProjectName);
        _loading = false;
    }

    private void GoToConfigs()
    {
        nav.NavigateTo($"/email/Projects/Details/{ProjectName}/Configurations");
    }

    private void GoToMain()
    {
        nav.NavigateTo("/email/Projects");
    }

    private void GoToCreate()
    {
        nav.NavigateTo("/email/Create_Project");
    }
}